// @path: /apps/data_provider/pkg/configs/resources/source_config_schemas/{{ .LowerStr }}.json
{
  "$id": "/resources/source_config_schemas/{{ .LowerStr }}",
  "type": "object",
  "properties": {
    "dataSource": {
      "type": "string",
      "const": "{{ .LowerStr }}"
    }
  },
  "required": ["dataSource"],
  "additionalProperties": false
} 
