name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:19.03.12
        options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt

      - name: Install ARM64 gcc toolchain
        run: sudo apt-get update && sudo apt-get install -y gcc-aarch64-linux-gnu

      - name: Install necessary targets
        run: rustup target add x86_64-unknown-linux-gnu aarch64-unknown-linux-gnu

      - name: Build Rust binary
        run: |
          cargo build --release --target=x86_64-unknown-linux-gnu
          cargo build --release --target=aarch64-unknown-linux-gnu
        working-directory: ./rust/stork

      - name: Run Go tests for arm64 architecture
        run: |
          mv ./rust/stork/target/aarch64-unknown-linux-gnu/release/libstork.so ./cli/
          cd ./cli && go test ./stork-publisher-agent
        env:
          LD_LIBRARY_PATH: ./cli

      - name: Run Go tests for amd64 architecture
        run: |
          mv ./rust/stork/target/x86_64-unknown-linux-gnu/release/libstork.so ./cli/
          cd ./cli && go test ./stork-publisher-agent
        env:
          LD_LIBRARY_PATH: ./cli
